.button-container {
  border-radius: 300px;
  min-width: 165px;
  width: auto;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &.primary {
    background-color: var(--primaryButtonBackgroundColor);
    color: #fff;
    border: 2px solid #fff;
    &:hover {
      background-color: #fff;
      color: var(--primaryButtonBackgroundColor);
      border: 2px solid var(--primaryButtonBackgroundColor);
    }
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    &:hover {
      background-color: white;
      border-color: #4285f4;
      color: #4285f4;
    }
  }
  &.inverted {
    background-color: white;
    color: black;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
