.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 0;
}

.navigation {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  align-items: center;

  .nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    color: #333;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.active {
      font-weight: 700;
    }
  }
  .nav-button {
    appearance: none;
    border: none;
    background: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
}
