.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 0;
}

.navigation {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;

  .nav-link {
    text-decoration: none;
    color: #333;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.active {
      font-weight: 700;
    }
  }
}
