.cart-icon-container {
  background: none;
  border: none;
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  cursor: pointer;

  .shopping-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .item-count {
    margin-left: 0.5em;
  }
}
