.cart-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  &-header,
  &-footer {
    display: contents;
  }

  &-header,
  &-row {
    div:first-child {
      grid-column: span 2;
    }
  }

  &-header-item,
  &-footer-item {
    font-weight: bold;
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }

  &-footer-item {
    font-size: 3rem;
    grid-column: span 5;
    text-align: right;
  }

  &-body {
    display: contents;
  }

  &-row {
    display: contents;
  }

  img {
    width: 30%;
  }

}
