$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -0.875rem;
  font-size: 0.75rem;
  color: $main-color;
}

.form-group {
  position: relative;
  margin: 2.8125rem 0;

  &:focus-within .form-label {
    @include shrinkLabel();
  }

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 1.125rem;
    padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 1.5625rem 0;

    &:focus {
      outline: none;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-label {
    color: $sub-color;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.3125rem;
    top: 0.625rem;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
